body {
    font-family: 'Montserrat', sans-serif;
    background-color: #d9af82; 
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.titulo-seccion {
    text-align: center;
    border-bottom: 1px solid black;
}

.table th, .table td {
    border: 4px solid #201f1f; /* bordes de la celdas */
    font-size: 14px;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
    height: 100vh;
    background-image: url("../imagenes/cartaa.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    border-bottom: 1px solid black;
    font-family: "Alegreya", serif;
}
h2{
    font-family: "Alegreya", serif;
    border-bottom: 1px solid black;

}

/* Eliminamos la regla de borde redondeado de la tabla */
.container table {
    /* border-radius: 10px; Elimina esta línea */
    overflow: hidden;
}

th, td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    width: 33%;
    border-radius: 10px; /* borde redondeado  */
}



/* separar el icono del nombre del plato */
.plato-item {
    display: flex;
    align-items: center;
}

.icono-gluten {
    width: 20px;
    height: 20px;
    margin-right: 5px; /* Ajusta el margen*/
}

.nombre-plato {
    margin-right: 10px; 
}

footer {
    background-color: rgb(12, 12, 12); /* Color de fondo del footer */
    color: white; 
    padding: 10px; 
    text-align: center; 
    position: static; 
    left: 0;
    bottom: 0;
    width: 100%;
}



@media (max-width: 600px) {
    th, td {
        display: block;
    }
}
